:root {
    /* Colors */
    --background-color: #26292a;
    --forground-color: #1e2122;

    --default: #191e24;
    --primary: #641ae6;
    --secondary: #d425a6;
    --accent: #1a9389;
    --info: #69c8f0;
    --success: #36d399;
    --warning: #fbbd23;
    --error: #f87272;

    /* Buttons */
    --button-primary-hover: #5917ca;
    --button-secondary-hover: #a81b83;
    --button-accent-hover: #12645d;
    --button-info-hover: #4d94b3;
    --button-success-hover: #258f68;
    --button-warning-hover: #a57c16;
    --button-error-hover: #b35252;

    /* Text */
    --text-color: #ffffff;
    --text-card-description: #cccccccc;

    /* Navbar */
    --nav-button-hover: rgba(255, 255, 255, 0.2);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.button {
    background-color: var(--default);
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.button:hover {
    background-color: #171b1f;
}

.button:active {
    scale: 95%;
}

.button-primary {
    background-color: var(--primary);
    color: var(--text-color);
}

.button-primary:hover {
    background-color: var(--button-primary-hover);
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--text-color);
}

.button-secondary:hover {
    background-color: var(--button-secondary-hover);
}

.button-accent {
    background-color: var(--accent);
    color: var(--text-color);
}

.button-accent:hover {
    background-color: var(--button-accent-hover);
}

.button-info {
    background-color: var(--info);
    color: var(--text-color);
}

.button-info:hover {
    background-color: var(--button-info-hover);
}

.button-success {
    background-color: var(--success);
    color: var(--text-color);
}

.button-success:hover {
    background-color: var(--button-success-hover);
}

.button-warning {
    background-color: var(--warning);
    color: var(--text-color);
}

.button-warning:hover {
    background-color: var(--button-warning-hover);
}

.button-error {
    background-color: var(--error);
    color: var(--text-color);
}

.button-error:hover {
    background-color: var(--button-error-hover);
}

.card {
    transition: all 0.2s;
    text-align: center;
    padding: 0.625rem;
    margin: 0.625rem;
    width: 30vw;
}

@media (max-width: 31.25rem){
    .card {
        transition: all 0.2s;
        width: auto;
    }
}

@media (width < 52.5rem) {
    .card {
        transition: all 0.2s;
        width: auto;
    }
}

.card-title {
    transition: all 0.2s;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.card-description {
    transition: all 0.2s;
    color: var(--text-card-description);
    font-size: 0.9375rem;
    margin: 0;
}

.card-rounded {
    border-radius: 0.625rem;
}

.card-background {
    background-color: var(--forground-color);
    padding: 0.9375rem;
}

.card-shadow {
    box-shadow: 0 0 0.625rem var(--card-shadow);
}

.image-pixel {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.nav {
    background-color: var(--forground-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
}

.nav-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.5rem;
}

.nav-header:hover {
    background-color: var(--nav-button-hover);
}

.nav-header:active {
    scale: 95%;
}

.nav-header img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

.nav-header h1 {
    color: var(--text-color);
    font-size: 1.25rem;
}

.nav-item {
    display: flex;
    gap: 0.9375rem;
}

.grid {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	justify-items: center;
	align-items: center;
	margin-top: 50px;
	display: grid;
}

.box {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 30vw;
}

.box img {
    filter: drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.4));
}

@media (max-width: 48rem) {
    .nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-header {
        margin-bottom: 0.625rem;
    }

    .nav-item {
        justify-content: center;
    }

    .box {
        width: auto;
    }
}