:root {
    --color: #3dff8e
}

body {
    background-color: #262626;
}

.disabled {
    display: none;
}

.center {
    background-color: #262626;
    justify-content: center;
    align-items: center;
	position: fixed;
    display: flex;
	bottom: 0;    
	right: 0;
	left: 0;
	top: 0;
}

.loading-box {
    border: 5px solid #ffffff;
    border-radius: 5px;
    width: 425px;
    height: 25px;
}

.center.disabled {
    transition: all 1s;
	transform: translateX(101%);
}

.loading-bar {
    background-color: #ffffffff;
    animation: loading 1.5s;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

@keyframes loading {
    0% { width: 0%; }
	5% { width: 2%; }
	7% { width: 10%; }
	10% { width: 20%; }
	25% { width: 25%; }
	50% { width: 50%; }
	60% { width: 70%; }
	80% { width: 75%; }
	100% { width: 100%; }
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-right: 10vw;
    margin-left: 10vw;
    color: #ffffff;
}

@media (min-width: 800px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li .title {
    font-weight: bold;
    font-size: 22px;
}

.nav ul li .title:hover {
    filter: brightness(75%);
}

.invite {
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
    background-color: var(--color);
    text-decoration: none;
    border-radius: 3px;
    font-weight: bolder;
    margin-right: 20px;
    color: #ffffff;
    padding: 6px;
}

.invite:hover {
    background-color: var(--color);
    filter: brightness(75%);
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    display: grid;
}

.box {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 30vw;
}

.box-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.box-description {
    color: #cccccccc;
    font-size: 15px;
}

.h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}