**/lavalink/app/application.yml
**/settings/settings.json
**/lavalink/app/plugins
**/lavalink/app/logs
**/antiCrashLog.log
**/.pnpm-debug.log
**/pnpm-lock.yaml
**/node_modules
**/**.disabled
**/install.sh
**/.vscode
**/papers
**/build
**/temp
**/beta
**/**.d
./fonts