doctype html
head
  title ServerSMP - BOT
  link(rel='shortcut icon', href='web/assets/serversmp-bot.png')
  link(rel=' preconnect' href='https://fonts.googleapis.com')
  link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Knewave&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js', integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js', integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF', crossorigin='anonymous')
div
  body
  header
    h1 ServerSMP - BOT 
    img.avatar(src='web/assets/serversmp-bot.png' alt="Bot's Avatar")
    h3 It has fun/admin/level commands.
    p.description
      | This is a discord bot, that has a lot of stuff in it like meme&apos;s, economy, admin, extra, etc.
  .buttons
    button.btn(onclick="location.href='/commands'") Commands
    button.btn(onclick="location.href='https://discord.com/oauth2/authorize?client_id=778409873573412874&permissions=66579782&scope=bot'") Invite
    button.btn(onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'") Support
style.
  .btn {
  background-color: black;
  color: white;
  font-size: 15px;
  transition-duration: 0.5s;
  border: 2px solid #606c71;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  }
  .buttons {
  text-align: center;
  }
  .btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  }
  h2 {
  font-size: 145%;
  font-family: 'Happy Monkey';
  color: #606c71;
  }
  h1 {
  font-family: 'Fredoka One';
  text-align: center;
  font-size: 300%;
  color: white;
  }
  .description {
  color: #606c71;
  text-align: center;
  font-family: 'Fredoka One';
  }
  .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20% -webkit-transform: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  }
  .avatar:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  p,
  span {
  color: #606c71;
  }
  body {
  background-color: black;
  }
  h3 {
  color: #606c71;
  font-family: 'Knewave';
  text-align: center;
  font-size: 150%;
  }
  hr {
  border-color: white;
  }
