<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/icon.png">
	<link rel="stylesheet" href="/css/404/style.css">
	<script src="/js/404/script.js" defer></script>
	<title>ServerSMP</title>
</head>

<body>

	<h1 id="typewriter-text"></h1>

</body>

</html>