<div class="container-sm center" style="margin-top: 30px; text-align: center;">
    <div class="d-grid gap-2 col-4 mx-auto">

        <% if (alert) { %>
            <div class="alert alert-success" role="alert">
                <%= alert %>
            </div>
        <% } %>

        <h1 style="text-align: center;"><%= guild.name %></h1>
        <hr>

        <div>
            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Welcome to the dashboard</p>
            <h6 style="margin-bottom: 0.5rem; margin-top: 10px;">Use the side bar to select the category.</h6>
        </div>
    </div>

</div>