<div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">

        <h1><%= guild.name %></h1>
        <hr>

        <form method="POST">
            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Captcha:</p>
            <input type="text" class="form-control" name="captcha" value="<%= settings.captcha %>" placeholder="Accepted options are true and false.">

            <input type="hidden" name="category" value="moderation">

            <br>
            <button type="submit" class="btn btn-secondary text-white">Save Settings</button>
        </form>
    </div>

</div>