body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262626;
    color: #ffffff;
}

.bg-custom {
    background-color: #1D1D1D;
}

.dropdown-dark {
    background-color: #171717;
    color: #ffffff;
}

.form-control,
.form-control:active,
.form-control:focus,
.form-select {
    background-color: #1D1D1D;
    border: 1px solid #313131;
    color: #ffffff;
}

.input-group-text {
    background-color: #191919;
    border: 1px solid #313131;
    color: #ffffff;
}

.form-check-input {
    background-color: #444444;
}

.form-control-color {
    max-width: 100%!important;
}